.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  margin-left: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

.listaNavBar {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.listaNavBar li {
  padding: 0px 10px;
}

a {
  text-decoration: none;
  color: white;
}

.Body {
  background-color: rgb(255, 45, 45);
  width: 100%;
  min-height: 100vh;
  font-size: 24px;
  font-weight: 300;
  display: inline-block;
}

button a {
  color: black;
}

.Culo {
  background-color: black;
}